/*============================================================================
    #BUTTON-COMPONENTS
=============================================================================*/

/*Advanced button styling */

.c-links-menu__button {
  display: block;
  background-color: $background-button;
  border-radius: 0.5rem;
  border: none;
  width: 60%;
  transition: all 0.3s ease 0s;
  line-height: 1.1rem;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  &:hover {
    background-color: $background-hover;
  }
}
