/*============================================================================
    #LINKS-ELEMENTS
=============================================================================*/

/*Basic Styling of links*/

.c-links-menu__link {
  text-decoration: none;
  color: hsl(235, 67%, 39%);
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  transition: all 0.4s ease;

  &:focus{
    color: hsl(246, 81%, 49%);
  }

}
