/*============================================================================
    #PAGE
=============================================================================*/

/* Page Settings */

html {
  font-size: 87.5%; /* 14px */
  overflow-y: scroll;
  min-height: 100%;
}
