/*============================================================================
    #LINKS-ELEMENTS
=============================================================================*/

/*Basic Styling of links*/

a {
  text-decoration: none;
  color: hsl(235, 67%, 39%);
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  transition: all 0.4s ease;

}
