/* ==========================================================================
      #COLORS
   ========================================================================== */

/* File containing the color variables present in the project */


/* Background Colors */
$background-button: #ebe5e5;

$background-hover: #f5f5f5;


/* Other Colors */
$color-headings: #ffffff;

$color-button: #4859f0;

$color-line: #f9f4f4;
